<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 全局属性 -->
	<settings>
		<!-- 允许 JDBC 支持自动生成主键，需要驱动兼容。 如果设置为 true 则这个设置强制使用自动生成主键-->
		<setting name="useGeneratedKeys" value="true"/>
		<!-- 别名替换列名 
		<setting name="useColumnLable" value="true"/>-->
		<!-- 驼峰命名转换 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
</configuration>